<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>at.pkgs.js tutorialat.pkgs.Template</title>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link type="text/css" rel="stylesheet" href="styles/sunlight.default.css">

	
	<link type="text/css" rel="stylesheet" href="styles/site.at_pkgs_js.css">
	
</head>

<body>
<div class="container-fluid">
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<a class="brand" href="index.html">at.pkgs.js</a>
			<ul class="nav">
				
				<li class="dropdown">
					<a href="namespaces.list.html" class="dropdown-toggle" data-toggle="dropdown">Namespaces<b
						class="caret"></b></a>

					<ul class="dropdown-menu ">
						
						<li>
							<a href="at.pkgs.html">at.pkgs</a>
						</li>
						
						<li>
							<a href="at.pkgs.escape.html">escape</a>
						</li>
						

					</ul>
				</li>
				
				<li class="dropdown">
					<a href="classes.list.html" class="dropdown-toggle" data-toggle="dropdown">Classes<b
						class="caret"></b></a>

					<ul class="dropdown-menu ">
						
						<li>
							<a href="at.pkgs.EventBinder.html">EventBinder</a>
						</li>
						
						<li>
							<a href="at.pkgs.Log.html">Log</a>
						</li>
						
						<li>
							<a href="at.pkgs.Object.html">Object</a>
						</li>
						
						<li>
							<a href="at.pkgs.ObservableValue.html">ObservableValue</a>
						</li>
						
						<li>
							<a href="at.pkgs.Template.html">Template</a>
						</li>
						
						<li>
							<a href="at.pkgs.TemplateEngine.html">TemplateEngine</a>
						</li>
						

					</ul>
				</li>
				
				<li class="dropdown">
					<a href="tutorials.list.html" class="dropdown-toggle" data-toggle="dropdown">Tutorials<b
						class="caret"></b></a>

					<ul class="dropdown-menu ">
						
						<li>
							<a href="tutorial-at.pkgs.EventBinder_.html">at.pkgs.EventBinder</a>
						</li>
						
						<li>
							<a href="tutorial-at.pkgs.Log_.html">at.pkgs.Log</a>
						</li>
						
						<li>
							<a href="tutorial-at.pkgs.Object_.html">at.pkgs.Object</a>
						</li>
						
						<li>
							<a href="tutorial-at.pkgs.Template_.html">at.pkgs.Template</a>
						</li>
						
						<li>
							<a href="tutorial-Index_.html">Index</a>
						</li>
						

					</ul>
				</li>
				
			</ul>
		</div>
	</div>

	<div class="row-fluid">

		
			<div class="span12">
				
				<div id="main">
					<section>
    
<header>
    

    <h2>at.pkgs.Template</h2>
</header>  

<article>
    <p>underscore.jsテンプレート相当のテンプレート処理を提供します。</p>
<ul>
<li>APIリファレンス: <a href="at.pkgs.Template.html">at.pkgs.Template</a></li>
<li>APIリファレンス: <a href="at.pkgs.TemplateEngine.html">at.pkgs.TemplateEngine</a></li>
<li>APIリファレンス: <a href="at.pkgs.html#template">at.pkgs.template</a></li>
</ul>
<h2>テンプレートの記述</h2>
<p>デフォルトのテンプレートブロックのデリミタは下記の通りになっています。
このデリミタは変更できます(後述)。</p>
<h3><code>{% ... %}</code></h3>
<p>このブロックはJavaScriptコードとして実行されます。</p>
<h3><code>{= ... =}</code></h3>
<p>このブロックの式を評価し、エスケープ処理した後出力されます。
エスケープ処理は「<code><>'&quot;&</code>」を実体参照に変換するHTMLエスケープ相当の処理を行いますが、この挙動は変更できます。</p>
<h3><code>{@ ... @}</code></h3>
<p>このブロックは式を評価し、直接(エスケープなどされずに)出力されます。
<code>null</code>や<code>undefined</code>は空文字として出力されますが、この挙動は変更できます。</p>
<h2>使用例</h2>
<h3>テンプレート処理</h3>
<pre><code>var template;

template = at.pkgs.template('\
  あいうえお\
  {% if (a) { %}\
  aaaa\
  {% } else { %}\
  bbbb\
  {% } %}\
  cccc\n\
  {@ b.c + 1 @}\
  {= d =}\
  zzzz\
  cccc');
console.log(template({ a: false, b: { c:2 }, d:'<a href=&quot;sss&quot;>aa</a>' }));
//   あいうえお    bbbb    cccc  3  <a href=&quot;sss&quot;>aa</a>  zzzz  cccc</code></pre>
<h3>デリミタの変更</h3>
<p>下記のようにデリミタが変更できます。
同様にデフォルトのHTMLエスケープ処理を差し替え可能です。
詳細はAPIリファレンスを参照してください。</p>
<pre><code>var template;

at.pkgs.TemplateEngine.instance.pattern = /<%(.*?)%>|<=(.*?)=>|<@(.*?)@>|$/g;
template = at.pkgs.template('\
  あいうえお\
  <% if (a) { %>\
  aaaa\
  <% } else { %>\
  bbbb\
  <% } %>\
  cccc\n\
  <@ b.c + 1 @>\
  <= d =>\
  zzzz\
  cccc');</code></pre>
<h3>ファクトリの使用</h3>
<p>デリミタの変更などをテンプレートエンジンごとに行うためにコンストラクタが使用可能です。</p>
<pre><code>var engine;
var template;

engine = new TemplateEngine();
engine.escape = function (source) { ... };
template = engine.prepare(source);</code></pre>
</article>

</section>  

				</div>

				<div class="clearfix"></div>
				<footer>
					
					
		<span class="copyright">
		Copyright (c) 2009-2013, Architector Inc., Japan.
		</span>
					<br />
					
		<span class="jsdoc-message">
		Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.2.0</a>
		on Sun Sep 29 2013 18:16:23 GMT+0900 (JST) using the <a href="https://github.com/terryweiss/docstrap">DocStrap template</a>.
		</span>
				</footer>
			</div>

			
			<br clear="both">
		</div>

	</div>
	<script src="scripts/sunlight.js"></script>
	<script src="scripts/sunlight.javascript.js"></script>
	<script src="scripts/sunlight-plugin.doclinks.js"></script>
	<script src="scripts/sunlight-plugin.linenumbers.js"></script>
	<script src="scripts/sunlight-plugin.menu.js"></script>
	<script src="scripts/jquery.min.js"></script>
	<script src="scripts/jquery.scrollTo.js"></script>
	<script src="scripts/jquery.localScroll.js"></script>
	<script src="scripts/bootstrap-dropdown.js"></script>
	<script src="scripts/toc.js"></script>


	<script>  Sunlight.highlightAll({lineNumbers:true,  showMenu: true, enableDoclinks :true}); </script>

	<script>
		$( function () {
			$( "#toc" ).toc( {
				selectors   : "h1,h2,h3,h4",
				showAndHide : false,
				scrollTo    : 60
			} );
			$( "#toc>ul" ).addClass( "nav nav-pills nav-stacked" );
			$( "#main span[id^='toc']" ).addClass( "toc-shim" );

		} );
	</script>

	
	<script>
		$( function () {
			$('#main').localScroll({
				offset: { top: 56 } //offset by the height of your header (give or take a few px, see what works for you)
			});
			$( "dt h4.name" ).each( function () {
				var $this = $( this );
				var icon = $( "<i/>" ).addClass( "icon-plus-sign" ).addClass( "pull-right" ).addClass( "icon-white" );
				var dt = $this.parents( "dt" );
				var children = dt.next( "dd" );

				$this.append( icon ).css( {cursor : "pointer"} );
				$this.addClass( "member-collapsed" ).addClass( "member" );

				children.hide();
				$this.toggle( function () {
					icon.addClass( "icon-minus-sign" ).removeClass( "icon-plus-sign" ).removeClass( "icon-white" );
					$this.addClass( "member-open" ).removeClass( "member-collapsed" );
					children.slideDown();
				}, function () {
					icon.addClass( "icon-plus-sign" ).removeClass( "icon-minus-sign" ).addClass( "icon-white" );
					$this.addClass( "member-collapsed" ).removeClass( "member-open" );
					children.slideUp();
				} );
			} );
		} );
	</script>
	

</body>
</html>